body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #222;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
/* Add a container class */
.container {
    display: flex; /* This will align the sidebar and content side by side */
}

.sidebar {
    /* float: left; Remove the float */
    width: 30%; /* Adjust the width as needed */
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box; /* This ensures padding is included in the width */
}

.content {
    /* float: right; Remove the float */
    width: 70%; /* Adjust the width as needed */
    padding: 20px;
    box-sizing: border-box; /* This ensures padding is included in the width */
}
.icon {
    width: 50px;
    display: inline-block;
}
/* Adjust the header */
.content h1 {
    margin-top: 20px; /* Adjust this value as needed */
}
.project {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.award {
    overflow: hidden; /* This will prevent content overflow */
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
#posterLink:link, #posterLink:visited, #posterLink:hover, #posterLink:active {
    color: black; /* Or any color you prefer */
}